.DS_Store
*~
*.swp
*.rbc
.idea

/node_modules
/conf/hash.json
/build/*

# artifacts
.DS_Store
.svn
*~
*.swp
*.rbc

# sublime config
*.sublime-project
*.sublime-workspace

# atom config
.tern-project

# logs
npm-debug.log
newrelic_agent.log
